form {
    display: flex;
    justify-content: center;
}

#input, #k {
    width: 40%;
    margin: 10px;
    padding: 5px;
    font-size: 25px;
}

#k {
    width: 10%;
}

button, p {
    margin: 10px;
    padding: 10px;
    font-size: 25px;
    border-radius: 15px;
    border: 2px solid black;
}

p {
    width: 40%;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

